## Loading libraries and helper libraries

In [1]:
import os
from pathlib import Path
import sys
import warnings

import numpy as np
import pandas as pd
from mizani.formatters import percent_format
from plotnine import *
from scipy.stats import logistic
from scipy.stats import norm
from stargazer.stargazer import Stargazer
from patsy import dmatrices
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_col
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import log_loss

import plotly
import plotly.express as px
import pandas as pd
import plotly.io as pio
import plotly.graph_objects as go
from plotly.subplots import make_subplots
pio.templates.default = 'plotly'

warnings.filterwarnings("ignore")

### Please note that I modified the path functions for py_helper_functions for my use, it may not work on your computer

In [2]:
path = Path(os.getcwd())
tech_prep = os.path.join(str(path), "ch00-tech-prep/")
sys.path.append(tech_prep)
from py_helper_functions import *

# Content
1. Loading and Filtering Dataset
2. Choosing and analysing variables
3. Linear Probability Model
4. Logit & Probit Models
5. Summaries of Regressions
<br>
------

# 1. Loading and Filtering Dataset

I chose Barcelona as my city

In [3]:
# Assigning the csv's to a data frame
df1 = pd.read_csv("https://osf.io/utwjs/download")
df2 = pd.read_csv("https://osf.io/p6tyr/download")


# Combining the both data frames
# used outer join to ensure every hotel id is merged into a new file.

df = df1.merge(df2, how = 'outer', on = "hotel_id")

In [4]:
df['city'].value_counts().head(10)

city
Paris             18586
Rome              15650
Istanbul          11945
London             9699
Milan              7280
St. Petersburg     5393
Barcelona          5131
Lisbon             4600
Madrid             4593
Berlin             4337
Name: count, dtype: int64

 Barcelona has 5131 observations without any filters

In [5]:
# filtering for Barcelona hotels
    
df = df[(df['city'] == 'Barcelona')&(df['accommodation_type'] == 'Hotel')]

In [6]:
# Creating a binary highly_rated columns 

df["highly_rated"] = 0
df.loc[df["rating"] >= 4, "highly_rated"] = 1

In [7]:
# Dropping null values in any columns
df.dropna(inplace=True)

In [8]:
df.head().T

,5173,5174,5175,5176,5177
hotel_id,799,799,799,799,799
city,Barcelona,Barcelona,Barcelona,Barcelona,Barcelona
distance,1.6,1.6,1.6,1.6,1.6
stars,3.0,3.0,3.0,3.0,3.0
rating,4.0,4.0,4.0,4.0,4.0
country,Spain,Spain,Spain,Spain,Spain
city_actual,Barcelona,Barcelona,Barcelona,Barcelona,Barcelona
rating_reviewcount,216.0,216.0,216.0,216.0,216.0
center1label,City centre,City centre,City centre,City centre,City centre
center2label,Montjuic Castle,Montjuic Castle,Montjuic Castle,Montjuic Castle,Montjuic Castle
neighbourhood,Barcelona,Barcelona,Barcelona,Barcelona,Barcelona
ratingta,4.5,4.5,4.5,4.5,4.5
ratingta_count,1284.0,1284.0,1284.0,1284.0,1284.0
distance_alter,2.4,2.4,2.4,2.4,2.4
accommodation_type,Hotel,Hotel,Hotel,Hotel,Hotel
price,76,141,99,141,177
offer,1,1,1,1,1
offer_cat,1-15% offer,1-15% offer,1-15% offer,1-15% offer,1-15% offer
year,2017,2018,2017,2018,2018
month,11,2,11,6,5
weekend,0,1,1,1,1
holiday,0,0,0,0,0
nnights,1,1,1,1,1
scarce_room,1,1,1,1,1
highly_rated,1,1,1,1,1

In [9]:
# After dropping null values we get 3,231 observations
df.shape

(3231, 25)